<div class="main">
  <div class="col-md-12">
      <div class="cards">
        <div class="row"
             *ngFor="let flashcard of (gameState | async).activeFlashcardGroup"
             style="margin-top: 10px;">
          <div class="card">
            <div class="form-control">{{flashcard.heads}}</div>
          </div>
          <div class="card">
            <div class="form-control" >{{flashcard.tails}}</div>
          </div>
<!--
          <button id="delete" class="btn-danger" (click)="onDeleteFlashcard(i)">X</button>
-->
        </div>
      </div>
<!--
          <button type="button" class="btn-default" (click)="onAddFlashcard()">Add flashcard</button>
-->
          <button type="submit" class="btn-success" (click)="onStartClick()">Start</button>
          <button type="button" (click)="onBackClicked()" class="btn-danger">Back</button>
  </div>
</div>
