.main {
  margin-left: 30%;
  width: 50%;
}

input.ng-invalid {
  border: 1px solid red;
}

.card {
  width: 40%;
}

button  {
  margin-right: 5px;
  padding: 5px;
  border-radius: 6px;
}

.input-container {
  float: left;
}
