# Outputs
bazel-*
test-project-host-*
dist/
dist-schema/

# IDEs
.idea/
jsconfig.json
.vscode/

# Typings file.
typings/

# Misc
coverage/
node_modules/
tmp/
npm-debug.log*
yarn-error.log*
.ng_pkg_build/

# Mac OSX Finder files.
**/.DS_Store
.DS_Store

*#
*.iml
*.ipr
*.iws
*.jar
*.sw?
*~
.#*
.*.md.html
.DS_Store
.classpath
.factorypath
.gradle
.idea
.metadata
.project
.recommenders
.settings
.springBeans
/build
/code
MANIFEST.MF
_site/
activemq-data
bin
build
build.log
dependency-reduced-pom.xml
dump.rdb
interpolated*.xml
lib/
manifest.yml
overridedb.*
settings.xml
target
transaction-logs
.flattened-pom.xml
secrets.yml
.gradletasknamecache
.sts4-cache