.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.list-group {
  margin-top: 2%;
}

.list-group-item {
  margin-left: 27%;
  width: 40%;
  text-align: center;
  font-size: 220%;
  font-family: "Agency FB";
  background-color: sandybrown;
  border-radius: 4px;
  margin-bottom: 2px;
}


li:hover {
  color: white;
  border-color: green;
  border-width: 2px;
}

li:after {
  position: absolute;
  top: 2.1em;
  left: 0.9em;
  width: 2px;
  height: calc(100% - 2em);
  content: '';
  z-index: 0;
}

h1 {
  color: dodgerblue;
}
