<img src="https://img.freepik.com/free-vector/cute-bunny-background_1347-109.jpg?size=338&ext=jpg" width="400"
     height="400" class="d-inline-block align-top center">
<h1>What would you like to do:</h1>
<ul class="list-group">
    <li class="list-group-item" style="cursor: pointer" (click)="onStartSelected()">Start learning!</li>
    <li class="list-group-item" style="cursor: pointer" (click)="onCreateSelected()">Create flashCard group</li>
    <li class="list-group-item" style="cursor: pointer" (click)="onUploadSelected()">Upload flashcard group from file</li>
</ul>
