<div class="main">
  <li class="list-group-item d-flex justify-content-between align-items-center"
      (click)="onGroupSelected(flashcardGroup.name)">
    {{flashcardGroup.name}}
    <span class="badge badge-primary badge-pill">
      {{flashcardGroup.size}}
    </span>
  </li>
</div>
<button id="highscores" class="btn-success" [routerLink]="['/flashcards/highscores/' + flashcardGroup.name]">highscores
</button>
<button id="delete" class="btn-danger" (click)="onDeleteFlashcardGroupClicked(flashcardGroup.name)">delete</button>
<br/>
<br/>
