.main {
  margin-left: 30%;
  width: 50%;
}

.col-xs-12 {
  margin-left: 10px;
}
.label {
  font-size: 220%;
  font-family: "Agency FB";
  float: left;
  width: 70%;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

input.ng-invalid {
  border: 1px solid red;
}

button  {
  margin-right: 5px;
  padding: 5px;
  border-radius: 6px;
}

input {
  margin-bottom: 5px;
}

.input-container {
  float: left;
}
